<form id="edge-form">
    <div id="edge-fields">
        <input type="text" name="edge_type" placeholder="Edge type">
    </div>
    <div id="button-row-1">
        <button id="open-parenthesis-button" type="button">(</button>
        <button id="or-button" type="button">|</button>
        <button id="and-button" type="button">&</button>
        <button id="close-parenthesis-button" type="button">)</button>
    </div>
    <div id="button-row-2">
        <button id="add-type-button" type="button">Add Type</button>
        <button id="clear-button" type="button">Clear</button>
    </div>
    <input type="text" id="edge-expression" >
    <input type="submit" id="add-edge" value="Add Edge">
</form>
