<!-- templates/home.html -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
</head>
<body>
    <h1>
        Hello, People!
    </h1>
    <ul>
        {% for node in nodes %}
        <li>{{ node.node_type }} {{ node.node_name }} {{ node.color }}</li>
        {% endfor %}
    </ul>
    {% for node in nodes %}
<h2>{{ node.node_name }} {{ node.node_type }} {{ node.color }}</h2>
<ul>
    {% for note in node.outgoing_edges %}
    <li>
        {{ note.source_node_id }} {{ note.target_node_id }} {{ note.edge_type }} {{ note.arrow }}
    </li>
    {% endfor %}
</ul>
{% endfor %}
    {% if config['DEBUG'] %}
        {% include "_debug.html" %}
    {% endif %}

</body>
</html> -->

<!-- home.html -->

<!-- home.html -->

<!DOCTYPE html>
<html>
<head>
  <title>Home</title>

  <!-- Include vis.js stylesheets -->
  <link href="https://visjs.github.io/vis-network/styles/vis-network.min.css" rel="stylesheet" type="text/css"/>

  <!-- Include vis.js library -->
  <script type="text/javascript" src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
  
  <!-- Include jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signin_dialogue.css') }}">

  <!-- JS, Popper.js, and jQuery -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    #my-network {
        width: 100%;
        height: 600px;
        border: 1px solid lightgray;
    }
    </style>
    <script
        src="{{ url_for('static', filename='js/apiSave.js') }}"
        type="module"
    ></script>
    <script
    src="{{ url_for('static', filename='js/createNode.js') }}"
    type="module"
></script>
    <script
    src="{{ url_for('static', filename='js/update.js') }}"
    type="module"
></script>
<script src="{{ url_for('static', filename='js/delete.js') }}"></script>
<script
    src="{{ url_for('static', filename='js/updateEdge.js') }}"
    type="module"
></script>
<script
    src="{{ url_for('static', filename='js/deleteEdge.js') }}"
    type="module"
></script>
<script
src="{{ url_for('static', filename='js/users.js') }}"
type="module"
></script>
<script src="{{ url_for('static', filename='js/_signin_dialogue.js') }}"></script>
<script src="{{ url_for('static', filename='js/clear.js') }}"></script>

<!-- <script src="{{ url_for('static', filename='js/createEdge.js') }}"></script> -->
<!-- <script src="menu-context.js"></script> --> 

</head>

<body>
    <header>
        <h1>My App</h1>
      </header>
    <p id="message"style="display:none"></p>
    <button id="update-session-btn" style="display: none;">Update Session</button>
    <p id="expiry-info" style="display: none;">Your session will expire in 30 minutes.</p>

    <h2 id="welcome-message"style="display:none"></h2>
    <div class="update">

        {% include "_update.html" %}

    </div>
    <div class="createNode">

        {% include "_create_node_form.html" %}

    </div>
    <div class="updateEdge">

        {% include "_updateEdge.html" %}

    </div>
    <button id="clear-button">Clear</button>
    <button id="export">Export</button>


        {% include "_signin_dialogue.html" %}
    <div>
        {% include "_importbutton.html" %}

    </div>

    <div id="edge-dialog" >
        {% include "_create_edge_form.html" %}
    </div>
    <div id="select-second-node-dialog" >
        <p>Select the second node</p>
        <button id="select-second-node-button">Select</button>
    </div>
    
    <div id="debug"></div>
    <div id = "edgeDelete">
        <button id="edgeDeleteButton">✨ Delete Edge</button>
    </div>
    <button id="save-button">Save</button>
  <!-- The div where the graph will be drawn -->
  <div id="my-network"></div>
  <p id="message"></p>
    <!-- Modal -->
    <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exportModalLabel">Export Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre id="exportData"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="copyBtn" class="btn btn-primary">Copy to Clipboard</button>
                </div>
            </div>
        </div>
    </div>



    
  
  <script type="text/javascript">

var nodesData = JSON.parse('{{ nodes | tojson | safe }}');
var typeColorJson = JSON.parse('{{ type_color_json | safe }}');
var arrowData = JSON.parse('{{ arrow_data | safe }}');
var edgeData = JSON.parse('{{ edge_data | safe }}');
    console.log(typeColorJson);
    console.log(edgeData)
    // Create an array of nodes and edges for vis.js
    var nodes = [];
    var edges = [];

    for (var i = 0; i < nodesData.length; i++) {
      nodes.push({
        id: nodesData[i].node_id, 
        label: nodesData[i].node_name + " ("+ nodesData[i].node_type+")", 
        color: nodesData[i].color,
      });
      
      var outgoingEdges = nodesData[i].outgoing_edges;
      
      var labelCharLimit = 10;

for (var j = 0; j < outgoingEdges.length; j++) {
  var edgeLabel = outgoingEdges[j].edge_type;

  // Truncate the label if necessary.
  var truncatedLabel = edgeLabel.length > labelCharLimit
    ? edgeLabel.substring(0, labelCharLimit - 3) + "..."
    : edgeLabel;
        edges.push({
            id: outgoingEdges[j].edge_id,
            from: outgoingEdges[j].source_node_id, 
            to: outgoingEdges[j].target_node_id,
            label: truncatedLabel,
            arrows: outgoingEdges[j].arrow == 1 ? 'to' : '',
            font: {align: 'middle'}
        });
      }
    }

    // Create a network
    var container = document.getElementById('my-network');
    var data = {
        nodes: new vis.DataSet(nodes),
        edges: new vis.DataSet(edges)
    };
    var options = {
    interaction: {
        dragNodes: true
    },
    nodes: {
        physics: false
    }
};

    var network = new vis.Network(container, data, options);
    for (var i = 0; i < localStorage.length; i++) {
  var key = localStorage.key(i);
  var value = localStorage.getItem(key);
  console.log("Clé : " + key + ", Valeur : " + value);
}

network.on("dragStart", function(params) {
  var nodeId = params.nodes[0]; // L'id du nœud déplacé
  console.log("Le nœud avec l'id " + nodeId + " a commencé à être déplacé.");
  // Faites quelque chose lorsque le nœud commence à être déplacé
});

network.on("dragEnd", function(params) {
  var nodeId = params.nodes[0]; // L'id du nœud déplacé
  var newPosition = network.getPositions([nodeId])[nodeId]; // Nouvelle position du nœud
  console.log("Le nœud avec l'id " + nodeId + " a été déplacé à la position:", newPosition);
  // Faites quelque chose lorsque le nœud a fini d'être déplacé
});
    // Load saved node positions from local storage

   </script>
 




 <button id="logout-button">Sign out</button>

  
  <footer>
    <p>© 2023 My App. All rights reserved.</p>
  </footer>
</body>
</html>

